
@{
    ViewBag.Title = "_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderBody()

<div class="row">
    <div class="col-sm-6">
        <h3>My stats aren't correct.</h3>
        <p>
            Stats will be incorrect until all your games are crawled.
        </p>
    </div>
    <div class="col-sm-6">
        <h3>Can you add this feature?</h3>
        <p>
            Send me some feedback and I'll try. Steam provides limited data.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3>Can I disable ads?</h3>
        <p>
            No, I can't guarantee the game data will always be available. I don't feel it's right to do charge for something I can't guarantee.
        </p>
    </div>
</div>