@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Help/_Layout.cshtml";
}

<h1>Device Specific Help</h1>
<div class="row">
    <div class="col-sm-4">
        <a href="~/help/winrt">
            <img src="~/Content/Images/surface.png" class="img-responsive" />
            <h3>Windows RT Help</h3>
        </a>
    </div>
</div>
