
@{
    ViewBag.Title = "WinRT";
    Layout = "~/Views/Help/_Layout.cshtml";
}

<h2>Windows RT Help</h2>
<div class="row">
    <div class="col-sm-6">
        <h3>How do I switch profiles?</h3>
        <p>
        </p>
    </div>
    <div class="col-sm-6">
        <h3>It looks like I have some bad data.</h3>
        <p>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3></h3>
        <p>
        </p>
    </div>
    <div class="col-sm-6">
        <h3></h3>
        <p>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3></h3>
        <p>
        </p>
    </div>
    <div class="col-sm-6">
        <h3></h3>
        <p>
        </p>
    </div>
</div>