
@{
    ViewBag.Title = "WinRT";
    Layout = "~/Views/Help/_Layout.cshtml";


    List<KeyValuePair<string, string>> faqs = new List<KeyValuePair<string, string>>();

    faqs.Add(new KeyValuePair<string, string>("How do I switch profiles?", "Access your charms menu by pressing Win + C or swipe on the right side of the screen. Press the large gear on the bottom, the press settings, and there will be a logout button."));
    faqs.Add(new KeyValuePair<string, string>("It looks like I have some bad data.", "It could be that your data isn't up to date. Go to your library in app and let the refresh process run for a little bit.  If you think your data is still bad, access the settings and clear local cache."));
    //faqs.Add(new KeyValuePair<string, string>("", ""));
    //faqs.Add(new KeyValuePair<string, string>("", ""));
    //faqs.Add(new KeyValuePair<string, string>("", ""));
    //faqs.Add(new KeyValuePair<string, string>("", ""));
}

<hr />
<h2>Windows 8.1 Help</h2>
<div class="panel-group" id="accordionRT" role="tablist">

    @for (var i = 0; i < faqs.Count; i++) {
        var faq = faqs[i];

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading@(i)">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordionRT" href="#collapseRT@(i)">
                        @faq.Key
                    </a>
                </h4>
            </div>
            <div id="collapseRT@(i)" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    @faq.Value
                </div>
            </div>
        </div>
    }
</div>