@{
    ViewBag.Title = "Contact";
}

<div id="wufoo-q707q8t1mxkfp2">
    Fill out my <a href="https://worthyd.wufoo.com/forms/q707q8t1mxkfp2">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">The easy to use <a href="http://www.wufoo.com/form-builder/">Wufoo form builder</a> helps you make forms easy, fast, and fun.</div>
<script type="text/javascript">
    var q707q8t1mxkfp2; (function (d, t) {
        var s = d.createElement(t), options = {
            'userName': 'worthyd',
            'formHash': 'q707q8t1mxkfp2',
            'autoResize': true,
            'height': '628',
            'async': true,
            'host': 'wufoo.com',
            'header': 'show',
            'ssl': true
        };
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function () {
            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
            try { q707q8t1mxkfp2 = new WufooForm(); q707q8t1mxkfp2.initialize(options); q707q8t1mxkfp2.display(); } catch (e) { }
        };
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');</script>
