<div>
    <h1>Steam Achievement Tracker Privacy Policy</h1>
    <h3>This policy applies to all apps and websites.  No information will be shared or used to contact you. I'm a solo web developer that is pretty heavily antisocial.</h3>
    <hr />
    <h2>
        Information Collected
    </h2>
    <p>
        The following information is collected for app functionality.  All of this information is public if you have a public steam profile.
        You wont be able to use our apps if you are private.  All of this information is stored locally in offline storage or SQLite databases to cutdown on web requests.
    </p>
    <ul>
        <li>Your SteamID</li>
        <li>Your Steam Library</li>
        <li>Your Steam Game Details</li>
    </ul>
    <p>
        The following information is collected through Google Analytics. We collect it to improve app performance.
    </p>
    <ul>
        <li>Your Steam Library Count - The apps were developed with a user that had around 200 games. We want to be able to target the optimum number of games for best performance.</li>
        <li>Your SteamID if login fails - This is to try and help fine tune the login process.  I think I've found all scenarios for logging in, but I want to stay on top of any future issues.</li>
    </ul>
</div>


